[Unit]
Description=Auto Start Up
After=network.target
[Service]
ExecStart=/bin/bash /home/will/Desktop/audiostreaming/script.sh
Restart=on-failure
RestartSec=3
[Install]
WantedBy=default.target
